.about {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .logo {
      min-width: 310px;
      min-height: 190px;
      background: url(../../../static/images/bg-logo.png) no-repeat;
      text-align: center;
      margin-right: 10rem;
      margin-top: 5rem;
    }

    .sun {
      background: url(../../../static/images/sun.png) no-repeat;
      min-width: 572px;
      min-height: 386px;
    }
  }

  .content {
    margin-top: 5rem;
    margin-bottom: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;

    $width: 40rem;

    .cloud {
      width: $width;
      background: url(../../../static/images/cloud.png) no-repeat left bottom;
      height: 218px;
      background-size: 100% 100%;

      h1 {
        color: #61cbe6;
        font: 30px 'dimboregular';
        text-align: center;
        padding: 120px 30px 0 30px;
      }
    }

    .content-bg {
      width: $width;
      background: #fff;
      padding: 1px 30px 30px 30px;

      .separator {
        width: 100%;
        height: 40px;
        background: url(../../../static/images/flower.png) center center no-repeat;
        background-size: auto 100%;
        margin: 20px 0;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    header {
      display: none;
    }

    .content {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 400px) {
    header {
      display: none;
    }

    .content {
      margin-top: 0;
    }
  }
}
