.details {
  margin-bottom: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .card {
    @mixin card-type($cardBackground, $cardBorderColor, $buttonColor, $buttonHoverColor) {
      background: $cardBackground;
      border-radius: 4px;
      border: 0 solid $cardBorderColor;
      padding: 0.5rem;
      justify-content: flex-start;
      margin: 0.5rem;

      .card-body {
        padding: 0.5rem 0 0 0;

        .card-title {
          a {
            text-decoration: none;
            border-radius: 4px;
            box-shadow: 1px 1px 0 #7d7d7d;
            padding: 7px 10px;
            color: #fff;
            margin-bottom: 20px;
            background: $buttonColor;
            white-space: nowrap;

            &:hover {
              background: $buttonHoverColor;
            }
          }
        }

        .card-text {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    &.card-type-1 {
      @include card-type(#efc043, #f29f34, #61cbe6, #007bff);
    }

    &.card-type-2 {
      @include card-type(#d5c651, #c2b130, #ef4b53, #dc3545);
    }

    &.card-type-3 {
      @include card-type(#eb7400, #e25a00, #2aae4a, #28a745);
    }

    iframe {
      width: 336px;
      height: 189px;
    }

    .block {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  .current-video {
    display: flex;
    justify-content: center;

    iframe {
      width: 1120px;
      height: 630px;
    }
  }

  .suggested-video-clips {
    .title {
      position: absolute;
      margin-top: 4rem;
      margin-left: 5rem;

      padding: 1rem;
      color: #5bc0de;
      font: 18px 'dimboregular', 'Fira Sans', sans-serif;
      font-weight: 500;
    }

    .suggested-video-clips-content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-items: center;

      padding: 3rem 1rem 1rem;
      margin: 4rem 5rem 1.25rem;
      border: 1px solid #eee;
      border-left-width: 0.25rem;
      border-radius: 0.25rem;
      border-left-color: #5bc0de;

      .card-selected {
        background: #bd2130 !important;
      }

      .card-highlighted {
        background: #007bff !important;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
      }
    }
  }

  .card {
    .card-body {
      .card-text {
        font: 16px 'dimboregular', 'Fira Sans', sans-serif;
        color: #fff;
        margin: 0 0 0.2rem;
      }
    }
  }

  .current-video {
    .card {
      width: 71rem;
    }
  }

  .suggested-video-clips {
    .suggested-video-clips-content {
      .card {
        width: 22rem;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .card {
      iframe {
        width: 235px;
        height: 132px;
      }
    }

    .current-video {
      .card {
        width: 36rem;
      }
    }

    .suggested-video-clips {
      .suggested-video-clips-content {
        .card {
          width: 15.7rem;

          .card-text {
            font: 14px 'dimboregular', 'Fira Sans', sans-serif;
          }
        }
      }
    }

    .current-video {
      iframe {
        width: 560px;
        height: 315px;
      }
    }
  }

  @media screen and (max-width: 400px) {
    .card {
      iframe {
        width: 212px;
        height: 119px;
      }

      .card-body {
        flex: none;
        padding: 0.5rem 0 0 0;

        .card-text {
          font: 14px 'dimboregular', 'Fira Sans', sans-serif;
          color: #fff;
        }
      }
    }

    .current-video {
      .card {
        width: 14.3rem;
      }
    }

    .suggested-video-clips {
      .suggested-video-clips-content {
        .card {
          width: 14.3rem;
        }
      }
    }

    .current-video {
      iframe {
        width: 212px;
        height: 119px;
      }
    }

    .suggested-video-clips {
      .title {
        display: none;
      }

      .suggested-video-clips-content {
        padding: 0;
        margin: 2rem 0 0;
      }
    }
  }
}
