$app-menu-width: 220px;
$app-menu-width-collapsed: 60px;
$header-color-hover: #61cbe6;

.app-menu {
  font-family: dimboregular, 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 1em;
  background: #2aae4a;
  position: fixed;
  width: $app-menu-width;
  z-index: 2030;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  -webkit-transition: width 0.2s linear; /* Safari */
  transition: width 0.2s linear;

  .brand-logo {
    visibility: hidden;
  }

  .nav-item {
    margin-bottom: 0.5rem;

    .nav-link {
      white-space: nowrap;

      > .nav-link-icon {
        position: relative;
        height: 30px;
        width: 30px;
      }

      > .nav-link-name {
        position: relative;
        display: inline;
        padding-left: 1rem;

        -webkit-transition: opacity 0.2s linear, visibility 0s linear 0.2s; /* Safari */
        transition: opacity 0.2s linear, visibility 0s linear 0.2s;
      }
    }
  }

  &.app-menu-closed {
    width: $app-menu-width-collapsed;

    .nav-link-name {
      visibility: hidden;
      opacity: 0;
    }

    &:hover {
      width: $app-menu-width;

      .nav-link-name {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  > .navbar-brand {
    padding: 0.5rem 0 1rem 0.5rem;
  }

  a {
    color: #fff;
  }

  .nav-link:hover {
    color: $header-color-hover;
  }
}
