.card-video {
  .dots-loading {
    .container {
      width: 530px;

      .loader {
        position: absolute;
        margin-top: 80px;

        @media screen and (max-width: 1024px) {
          margin-top: 70px;
        }

        @media screen and (max-width: 400px) {
          margin-top: 55px;
        }
      }
    }
  }

  video {
    object-fit: inherit;
  }
}
