.home {
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 4rem;

    .card {
      @mixin card-type($cardBackground, $cardBorderColor, $buttonColor, $buttonHoverColor) {
        background: $cardBackground;
        border-radius: 4px;
        border: 0 solid $cardBorderColor;
        padding: 0.5rem;
        justify-content: flex-start;

        .card-body {
          .card-title {
            a {
              text-decoration: none;
              border-radius: 4px;
              box-shadow: 1px 1px 0 #7d7d7d;
              padding: 7px 10px;
              color: #fff;
              margin-bottom: 20px;
              background: $buttonColor;
              white-space: nowrap;

              &:hover {
                background: $buttonHoverColor;
              }
            }
          }
          .card-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            margin: 0 0 0.2rem;
          }

          .card-buttons {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            button {
              margin: 0.1rem;
            }
          }
        }
      }

      &.card-type-1 {
        @include card-type(#efc043, #f29f34, #61cbe6, #007bff);
      }

      &.card-type-2 {
        @include card-type(#d5c651, #c2b130, #ef4b53, #dc3545);
      }

      &.card-type-3 {
        @include card-type(#eb7400, #e25a00, #2aae4a, #28a745);
      }

      margin-right: 1rem;
      margin-bottom: 1rem;
      justify-content: space-around;

      .card-body {
        flex: none;
        padding: 1rem 0 0 0;

        .card-title {
          margin: 1rem 0 1rem 0;

          a {
            div {
              margin-right: 0.3rem;
              vertical-align: bottom;
            }

            span.product-name {
              margin-right: 0.3rem;
            }

            span.badge {
              margin-right: 0.3rem;
            }
          }
        }

        .card-text {
          font: 16px 'dimboregular', 'Fira Sans', sans-serif;
          color: #fff;
        }
      }

      $width: 297px;
      $height: 168px;
      width: 19.5rem;

      .video-container {
        height: $height;
      }

      img {
        width: $width;
        height: $height;
        cursor: pointer;
        border-radius: 2px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      }

      video {
        width: $width;
        height: $height;
        border-radius: 2px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      }

      @media screen and (max-width: 1024px) {
        $width: 260px;
        $height: 147px;
        width: 17.3rem;

        .video-container {
          height: $height;
        }

        img {
          width: $width;
          height: $height;
        }

        video {
          width: $width;
          height: $height;
        }

        a {
          font-size: 18px;
        }

        .card-body {
          .card-text {
            font: 14px 'dimboregular', 'Fira Sans', sans-serif;
          }
        }
      }

      @media screen and (max-width: 400px) {
        $width: 159px;
        $height: 90px;
        width: 11rem;

        .video-container {
          height: $height;
        }

        img {
          width: $width;
          height: $height;
        }

        video {
          width: $width;
          height: $height;
        }

        .card-body {
          flex: none;
          padding: 0.5rem 0 0 0;

          a {
            font-size: 12px;
          }

          .card-text {
            font: 14px 'dimboregular', 'Fira Sans', sans-serif;
            color: #fff;
          }
        }
      }
    }
  }
}
