$header-color: #fff;
$header-color-secondary: #bbb;
$header-color-hover: #61cbe6;

/* ==========================================================================
Developement Ribbon
========================================================================== */
.ribbon {
  background-color: rgba(170, 0, 0, 0.5);
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
  position: absolute;
  top: 30px;
  white-space: nowrap;
  width: 15em;
  z-index: 99999;
  pointer-events: none;
  opacity: 0.75;
  a {
    color: #fff;
    display: block;
    font-weight: 400;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
  }
}

/* ==========================================================================
Navbar styles
========================================================================== */
.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: $header-color;

      &:hover {
        color: $header-color-hover;
      }
    }
  }
}

.jh-navbar {
  background-color: #2aae4a;
  padding: 0.2em 1em;

  > .app-menu-button {
    &.btn-secondary:not(:disabled):not(.disabled):active,
    &.btn-secondary:not(:disabled):not(.disabled):active:focus,
    &.btn-secondary:focus {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
    }

    color: #fff;
    background-color: transparent;
    border-radius: 0.15rem;
    border: 0 solid rgba(255, 255, 255, 0.1);
    padding-top: 0.85rem;
    margin-left: 5rem;

    -webkit-transition: margin-left 0.2s linear; /* Safari */
    transition: margin-left 0.2s linear;

    &.app-menu-button-open {
      margin-left: 15rem;
    }
  }

  .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: #353d47;
  }
  .dropdown-toggle::after {
    margin-left: 0.15em;
  }
  ul.navbar-nav {
    padding: 0.5em;
    .nav-item {
      margin-left: 1.5rem;
    }
  }

  .nav-link {
    color: #fff;
  }

  a.nav-link {
    font-family: dimboregular, 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 1em;

    > span {
      margin-left: 5px;
    }
  }
  .jh-navbar-toggler {
    color: #fff;
    font-size: 1.5em;
    padding: 10px;
    &:hover {
      color: #fff;
    }
  }
}
.navbar-version {
  font-size: 10px;
  color: $header-color-secondary;
  padding: 0 0 0 10px;
}

.brand-logo {
  &:hover {
    text-decoration: none;
  }
  .brand-icon {
    height: 35px;
    width: auto;
    display: inline-block;
    img {
      height: 45px;
    }
  }
}

.brand-title {
  font-size: 24px;
  color: $header-color;
  &:hover {
    color: $header-color-hover;
    text-decoration: none;
  }
}

.loading-bar {
  height: 3px;
  background-color: #009cd8;
  position: absolute;
  top: 0px;
  z-index: 1031;
}
