.game {
  display: flex;
  justify-content: center;

  .center {
    display: flex;
    flex-direction: column;

    .information {
      display: flex;

      background: #efc043;
      border-radius: 4px;
      border: 0 solid #f29f34;
      padding: 0.5rem;

      .image {
        img {
          width: 265px;
          height: 150px;
        }
      }

      .game-description {
        display: flex;
        flex-direction: column;

        font: 16px 'dimboregular', 'Fira Sans', sans-serif;
        color: #fff;

        width: 30rem;

        .title {
          margin-bottom: 0.5rem;
        }
      }
    }

    .game {
      margin-top: 1rem;
      margin-bottom: 5rem;
    }

    @media screen and (max-width: 1024px) {
      .information {
        .game-description {
          width: 20rem;
        }
      }
    }

    @media screen and (max-width: 400px) {
      .information {
        display: none;
      }
    }
  }
}
